# generic
.*
!.*ignore*
*.wiki
!.github

# python
*__pycache__
ENV/

# setup
build/
dist/
*.egg-info
__version__.py
version

# go
bin/
pkg/
out/
*.so
**/audacity_scripting/**/libs/

# Tests output
*aup3-wal
*.output.*
*.bak*
